@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body1{
  background-image: url("./blue-light-1675686_1920.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}

.input{
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2%;
  }
  ::focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #ffffff;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
  }
  ::placeholder {
    color: #ffffff;
    font-weight: 100;
    font-size: 1rem;
  }

  .button{
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  }